

body {
    /* font: 20px Montserrat, sans-serif; */
    line-height: 1.8;
    color: black;
    background-color: #F2F1EF;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding-top: 70px;
  padding-left: 120px;
  padding-right: 120px;
  padding-bottom: 70px;
}

.flex-container {
  padding: 10px;
  margin: 200;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  justify-content: space-around;
  height: 250px;
  line-height:30px;
}

.flex-item {
  background:#F2F1EF;
  border-radius: 20px;
  padding: 200;
  margin: 5px;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 31.875px;
  text-transform: none;
  text-align: center;
  flex: 1 0 0px;
  height: auto;
  /* border-style: solid;
  border-width: 1px; */
  color: black;
}

.flex-item:hover {
  font-weight: bolder;
}

.heading1 {
  background: #F2F1EF;
  font-family: 'Roboto Mono', monospace;
  font-size: 25.5px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
  margin: 10px;
  padding: 200;
  font-size: 3.5em;
  text-align: center;
  height: auto;
  color:black;
}

.content-1 {
  padding-bottom: 50px;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  font-style: normal;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 31.875px;
  text-transform: none;
  color: #000000;
  text-align: center;
  padding-bottom: 200;
  }

  .content-2 {
    padding-bottom: 50px;
    font-family: 'Roboto Mono', monospace;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 31.875px;
    text-transform: none;
    color: #000000;
    text-align: left;
    padding-bottom: 200;
    }

/* Credit for below: https://codepen.io/devilishalchemist/pen/ZYLZay */
.underline--magical {
  font-size: 20px;
  color: #584E4A;;
  position: relative;
  /* text-transform: uppercase; */
  text-decoration: none;
  padding-bottom: 8px;
}

.underline--magical::before{
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0; right: 0;
  height: 2px;
  background-color: #F37272;
  opacity: 0;
  transform: translateY(- .8px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;
}

.underline--magical:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0; right: 0;
  height: 2px;
  background-color: #F37272;
  opacity: 0;
  transform: translateY(.8px/2);
  transition: transform .25s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
}

.underline--magical:hover::before{
  opacity: 1;
  transform: translateY(0);
  transition: transform .25s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
}

.underline--magical:hover::after{
  opacity: 1;
  transform: translateY(0);
  transition: transform 0s .25s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;
}

.underline--magical:focus::before{
  opacity: 1;
  transform: translateY(0);
  transition: transform .25s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;
}

.underline--magical:focus::after{
  opacity: 1;
  transform: translateY(0);
  transition: transform 0s .25s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;
}